// Style general
// Default viewport fontsize for rem
html { font-size: 62.5%; }

// Default body
body {
  margin: 0;
  font-family: $v-slick;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: $v-black;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

// Default box viewport
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// Default hyperlink with blue pergi
a {
  color: $v-blue;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  font-size: 1.4rem;
  &:hover, &:focus, &:active {
    outline: none;
    text-decoration: underline;
  }
}

// image fluid
.c-img-fluid {
  max-width: 100%;
  width: auto;
  height: auto;

  @include mobilexs {
    width: 100%;
    height: auto;
  }
}

// hr style
hr{
  border: 0;
  border-bottom: 1px solid $v-smoke;
  margin: 30px 0;
}

// pointer
.u-cpointer { cursor: pointer; }

// default label
label {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.4rem;
}

// default span
span {
  display: inline-block;
  vertical-align: middle;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

@mixin actionButtonWrapper {
  text-align: right;
  padding-left: 10px;
  width: 140px;
}

.c-announcement {
  padding: 20px;
  background-color: $v-orange-light;
  border: 1px solid $v-orange-dark;
  border-radius: 6px;
  display: flex;
  align-items: center;
  position: relative;
  &__img {
    position: absolute;
  }
  &__detail {
    width: calc(100% - 130px - 140px);
    margin-left: 130px;
  }
  &__action {
    @include actionButtonWrapper;
  }
}