<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Flight Route
        link(rel='stylesheet', href='../assets/styles/newsletter.min.css')

    body(style="width:92%!important;padding:0 4%;margin:0px;background-color: #F8F9FB;font-family: Arial, Helvetica, sans-serif;")
        
        include partials/_head-promo.pug
        include partials/_flight-route.pug
        include partials/_sosmed.pug
        include partials/_address.pug