-
    var templateList = [
        {link: "promo", name: "Promo"},
        {link: "other-promo", name: "Other Promo"},
        {link: "flight-destination", name: "Flight Destination"},
        {link: "flight-route", name: "Flight Route"},
        {link: "we-transform", name: "We Transform"},
        {link: "blog", name: "Blog"},
    ];

h1.title Email Template List

.email-list
    each template, i in templateList
        a(href="views/"+template.link+".html" target="_blank") 
            p.email-item #{template.name}