table(id="address", width="100%", border="0", align="center", cellpadding="0", cellspacing="0", style="border-spacing:0;table-layout:auto;margin:20px auto 0px;font-size:12px;")
    tr
        td 
            table(width="95%" align="center" style="text-align:center;color:#999999;line-height: 18px;")
                tr
                    td Copyright © 2018 PT Vaya Micetama Servindo. <br/>All Rights Reserved <br/> Jalan Batu Tulis Raya No. 38 Gambir, <br/>Jakarta Pusat - 10120 <br /> Customer care : <a target="_blank" href="mailto:cs@pergi.com" style="text-decoration:none;color:#453596">cs@pergi.com</a> / 021 - 2922 7888 

table(id="content", width="100%", border="0", align="center", cellpadding="0", cellspacing="0", style="border-spacing:0;table-layout:auto;margin:0px auto;")
    tr
        td(height="40px")     
