//Change here
table(id="flightDestination", width="100%", border="0", align="center", cellpadding="0", cellspacing="0", style="max-width:600px;border-spacing:0;table-layout:auto;margin:40px auto 0px;font-size:12px;")
    tr
        td 
            table(width="100%" align="center" style="text-align:center;color:#999999;line-height: 18px;")
                tr
                    td  
                        div(style="text-align: center;line-height: 24px;font-size: 24px;color: #333333;margin-bottom:15px") Lorem Ipsum is simply dummy text of the 

table(width="100%", align="center", style="max-width:600px;text-align:center;color:#999999;line-height: 18px;margin:0px auto;")
    tr
        td
            each val in [1, 2, 3, 4, 5, 6]
                table(id="twoColumn", width="100%", align="left", style="")
                    tr
                        td 
                            table(id="content", width="100%", border="0", align="left", cellpadding="0", cellspacing="0", bgcolor="#ffffff", style="margin-bottom:10px;border-radius:6px;border-spacing:0;table-layout:auto;border-color: #e0e0e0;border-style: solid;border-width: 0px 0px 3px;")
                                include _blog-item.pug
        
       
        