thead
    tr
        td 
            img(src="https://media01.cdnpergi.com/newsletter/images/destination.png", width="100%")
    tr
        td
            table(id="content", width="100%", border="0", align="center", cellpadding="0", cellspacing="0", style="border-spacing:0;table-layout:auto;padding:10px;")
                tr
                    td(align="left") 
                        div(style="font-size: 16px;font-weight: 600;color: #333333;line-height: 20px;") Lorem Ipsum is simply dummy text of the printing and typesetting
                        div(style="font-size: 14px;color: #666666;line-height: 18px;margin-top:5px;") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has…
                        div(style="margin-top:15px;font-size: 13px;")
                            a(href="" style="font-weight: 600;color:#4D3419;text-decoration:none;")
                                div(style="width:117px;height:32px;background:#FFC700;border: 1px solid #EE9E1E;border-radius: 4px;text-align:center;line-height:32px;font-size:13px;") Read More
                    //- td(align="right") 
                    //-     a(href="" style="font-weight: 600;color:#4D3419;text-decoration:none;")
                    //-         div(style="width:117px;height:32px;background:#FFC700;border: 1px solid #EE9E1E;border-radius: 4px;text-align:center;line-height:32px") Pesan Tiket