table(id="spaceTop", width="100%", border="0", align="center", cellpadding="0", cellspacing="0", style="border-spacing:0;margin:0px auto;table-layout:auto;")
    tr
        td

table(id="content", width="100%", border="0", align="center", cellpadding="0", cellspacing="0", bgcolor="#ffffff", style="max-width:600px;border-radius:6px;border-spacing:0;table-layout:auto;margin:0px auto;border-color: #e0e0e0;border-style: solid;border-width: 0px 0px 3px;")
    tr
        td 
            table(width="93%", align="center" style="margin-top:25px;max-width:540px")
                tr
                    td 
                        div(style="text-align:center;height:32px;")
                            img(src="https://media01.cdnpergi.com/newsletter/images/logo.png", alt="", width="140")
    tr
        td 
            table(width="93%" align="center" style="margin-top:25px")
                tr
                    td 
                        img(src="https://media01.cdnpergi.com/newsletter/images/banner.png", alt="mantab", width="100%")
    tr
        td 
            table(width="93%" align="center" style="margin-top:30px")
                tr
                    td 
                        div(style="text-align: center;line-height: 28px;font-weight: 600;font-size: 24px;color: #333333;") Lorem Ipsum is simply dummy text of the 
    tr
        td 
            table(width="93%" align="center" style="margin-top:25px")
                tr
                    td 
                        div(style="line-height: 24px;color: #333333;text-align: justify;font-size: 16px;") Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
    tr
        td 
            table(width="93%" align="center" style="margin:25px auto;")
                tr
                    td 
                        a(href="" style="font-weight: 600;color:#4D3419;text-decoration:none;")
                            div(style="width:100%;height:46px;background:#FFC700;border: 1px solid #EE9E1E;border-radius: 4px;text-align:center;line-height:46px;font-size:16px;") Lorem Ipsum is simply jos        
