thead
    tr
        td 
            img(src="https://media01.cdnpergi.com/newsletter/images/destination.png", width="100%")
    tr
        td
            table(id="content", width="100%", border="0", align="center", cellpadding="0", cellspacing="0", style="border-spacing:0;table-layout:auto;padding:10px;")
                tr
                    td(align="left") 
                        div(style="font-size: 12px;color: #999999;") Mulai dari
                        div(style="font-size: 16px;color: #453596;font-weight: 600;") Rp 1.500.876
                    td(align="right") 
                        a(href="" style="font-weight: 600;color:#4D3419;text-decoration:none;font-size: 13px;")
                            div(style="width:117px;height:32px;background:#FFC700;border: 1px solid #EE9E1E;border-radius: 4px;text-align:center;line-height:32px") Pesan Tiket