table(id="address", width="100%", border="0", align="center", cellpadding="0", cellspacing="0", style="max-width:600px;border-spacing:0;table-layout:auto;margin:40px auto 0px;font-size:12px;")
    tr
        td 
            table(width="100%" align="center" style="text-align:center;color:#999999;line-height: 18px;")
                tr
                    td  
                        div(style="text-align: center;line-height: 24px;font-size: 24px;color: #333333;margin-bottom:15px") Promo Lainnya 

    tr
        td 
            table(width="100%" align="center" style="text-align:center;color:#999999;line-height: 18px;margin-top:15px;")
                tr
                    td
                        a(href="#")
                            img(src="https://media01.cdnpergi.com/newsletter/images/promo-1.png", alt="", style="width:100%;max-width:600px;")

    tr
        td 
            table(width="100%" align="center" style="text-align:center;color:#999999;line-height: 18px;margin-top:15px;")
                tr
                    td
                        a(href="#")
                            img(src="https://media01.cdnpergi.com/newsletter/images/promo-2.png", alt="", style="width:100%;max-width:600px;")
    
    tr
        td 
            table(width="100%" align="center" style="text-align:center;color:#999999;line-height: 18px;margin-top:15px;")
                tr
                    td
                        a(href="#")
                            img(src="https://media01.cdnpergi.com/newsletter/images/promo-3.png", alt="", style="width:100%;max-width:600px;")