table(id="sosmed", width="100%", border="0", align="center", cellpadding="0", cellspacing="0", bgcolor="#ffffff", style="max-width:600px;border-radius:6px;border-spacing:0;table-layout:auto;margin:40px auto 0px;border-color: #e0e0e0;border-style: solid;border-width: 0px 0px 3px;text-align:center;")
    tr
        td 
            table(width="95%" align="center" style="margin-top:20px")
                tr
                    td 
                        div(id="findUs" style="font-size: 12px;color: #999999;") Temukan kami di :
    tr
        td 
            table(width="95%" align="center" style="margin-top:20px")
                tr
                    td 
                        a(href="https://www.facebook.com/Pergicom/", target="_blank", style="margin:0 7px;")
                            img(src="https://media01.cdnpergi.com/newsletter/images/ico-fb.png", alt="facebook", width="24px")
                        a(href="https://www.instagram.com/pergicom/", target="_blank", style="margin:0 7px;")
                            img(src="https://media01.cdnpergi.com/newsletter/images/ico-ig.png", alt="instagram", width="24px")
                        a(href="https://twitter.com/Pergicom", target="_blank", style="margin:0 7px;")
                            img(src="https://media01.cdnpergi.com/newsletter/images/ico-tw.png", alt="twitter", width="24px")
                        a(href="https://blog.pergi.com/", target="_blank", style="margin:0 7px;")
                            img(src="https://media01.cdnpergi.com/newsletter/images/ico-blog.png", alt="blog", width="24px")
    tr
        td 
            table(width="95%" align="center" style="margin:20px auto")
                tr
                    td 
                        div(style="font-size: 12px;color: #cccccc;")
                            span <a target="_blank" href="https://www.pergi.com/bantuan/cara-pesan-tiket-pesawat" style="text-decoration:none;color:#453596;">Cara Pesan</a> |
                            span <a target="_blank" href="https://www.pergi.com/syarat-ketentuan" style="text-decoration:none;color:#453596;"> Syarat & Ketentuan</a> |
                            span <a target="_blank" href="https://www.pergi.com/kebijakan-privasi" style="text-decoration:none;color:#453596;"> Kebijakan</a>
