table(id="content", width="600px", border="0", align="center", cellpadding="0", cellspacing="0", style="border-spacing:0;table-layout:auto;margin:0px auto;")
    tr
        td(height="79")

table(id="content", width="600px", border="0", align="center", cellpadding="0", cellspacing="0", bgcolor="#ffffff", style="border-radius:6px;border-spacing:0;table-layout:auto;margin:0px auto;border-color: #e0e0e0;border-style: solid;border-width: 0px 0px 3px;")
    tr
        td 
            table(width="540px" align="center" style="margin-top:25px")
                tr
                    td 
                        div(style="text-align:center")
                            img(src="https://static01.cdnpergi.com/assets/desktop/img/ic_logo.png", alt="", width="140")
    tr
        td 
            table(width="540px" align="center" style="margin-top:25px;padding-bottom:30px")
                tr
                    td 
                        img(src="https://media01.cdnpergi.com/newsletter/images/banner.png", alt="mantab", width="540px")
    