
- var DefaultTitle = 'E-mail Template Pergi';
- var page = {id: "emailTemplate", name: "E-mail Template"};
-
  var components = [
    {id: "emailTemplate", name: "E-mail Template V.1.0"},
  ];

doctype html
html(lang="en")                                           
  head
    meta(name="viewport", charset="UTF-8", content="width=device-width, initial-scale=1, minimum-scale=1")
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    link(rel='stylesheet', href='assets/styles/layouts.min.css')
    link(rel='stylesheet', href='assets/styles/main.min.css')
  block head
    title #{DefaultTitle}
  
  body
    //- container
    .lp-container
      .u-hxs-up.u-tac.u-py-90.u-px-20
        h1.c-smb-18.u-mb-60 Halaman tidak tersedia dalam ukuran mobile.

      .lp-sidebar.jlp-trigger.u-hxs-down
        //- access menu here
        .lp-sidebar__page.ju-scroll-focus(data-menu='access')
          .lp-sidebar__page--header
            .lp-sidebar__page--logo
              img(src="assets/images/pages/logo.svg", alt="")
          each component, i in components
            .lp-sidebar__page--menu(data-menu= component.id class= component.id ===page.id ? 'is-active' : ' ')
              a(href= i ===0 ? "/" : "/views/"+component.id+".html")
                span #{component.name}
                span.fa.fa-angle-right
      
      //- content here
      .lp-content
        block content
          include views/template-list.pug
