// Pergi Fontfamily
$font-family: "Slick";
$font-weight: 300, 400, 600, 700;
$font-type: Light, Regular, Semibold, Bold;

@for $i from 1 through length($font-type) {
  $src: #{"../fonts/slick/slick"}#{nth($font-type, $i)};
  @font-face {
    font-family : $font-family;
    src         : local($font-family);
    src         : url('#{$src}.ttf');
    src         : url('#{$src}.ttf') format('truetype'), url('#{$src}.woff') format('woff'), url('#{$src}.svg#svgFontName') format('svg') format('truetype'), url('#{$src}.svg#svgFontName') format('svg');
    font-style  : normal;
    font-weight : nth($font-weight, $i);
  }
}
