// Core pergi style
@import "bases/variables.scss";
@import "bases/mixins.scss";
@import "components/typography.scss";

// new !! this is stylesheets for layout prototype index with prefix .lp-
// notes: don't bring to developer
.lp-container {
  min-height: 100vh;
  overflow: auto;
}

.lp-sidebar {
  width: 320px;
  height: 100%;
  background-color: $v-white;
  position: fixed;
  top: 0;

  &__user {
    position: absolute;
    background-color: $v-white;
    width: 74px;
    height: 100%;
    z-index: 10;
    @include mobilexs { width: 80px; }
  }

  &__page {
    background-color: lighten($v-ui-background, 3%);
    border-left: 1px solid $v-ui-border;
    border-right: 1px solid $v-ui-border;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: auto;
    @include mobilexs {
      margin-left: 80px;
      width: calc(100% - 74px);
    }

    &--header {
      padding: 30px;
      position: sticky;
      top: 0;
      background-color: lighten($v-ui-background, 3%);
      height: 110px;
      border-bottom: 1px solid $v-ui-border;
    }

    &--logo {
      width: 230px;
      img{
        width: 100%;
      }
    }

    &--menu {
      padding: 15px 30px;
      border-bottom: 1px solid $v-ui-border;
      @include mobile {
        padding: 15px 40px 15px 30px;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      a {
        color: $v-black;
        display: block;
        span {
          &:last-child { float: right; }
        }
      }
      &.is-active {
        a {
          font-weight: 600;
          color: $v-purple-light;
        }
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    padding: 22px 0;
    border-bottom: 1px solid $v-ui-border;
    color: $v-slate;

    &--header { background-color: $v-green; }

    &.is-active { color: $v-blue; }
  }
}

.lp-content {
  min-height: 100vh;
  padding: 50px 40px 30px 400px;
  @include transition(all .4s);
  @include mobilexs {
    visibility: hidden;
    opacity: 0;
  }

  &__link {
    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 15px 0;

        a {
          color: $v-black;
          @extend .u-cl-slate;
        }
      }
    }
  }

  &.is-show-mobile {
    position: fixed;
    padding: 30px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $v-white;
    opacity: 1;
    @include mobilexs { visibility: visible;; }
  }

  &__back {
    @media screen and (min-width: $v-xs) { display: none; }
    margin-bottom: 20px;
    cursor: pointer;
    text-align: right;
    a {
      color: $v-black;
      span {
        &:first-child {
          vertical-align: unset;
          margin-right: 5px;
        }
      }
    }
  }
}

.title{
  color: $v-purple;
}
.email-list{
  a {
    color: $v-purple;
    .email-item{
      padding: 5px 0;
    }
  }
  a:hover{
    text-decoration: none;
    color: $v-orange;
  }
}
