#spaceTop{
    tbody{
        tr{
            td{
                height: 79px !important; 
            }
        }

    }
}

#twoColumn{
    max-width:295px !important;
}
@media screen and (max-width:480px) {
    #spaceTop{
        tbody{
            tr{
                td{
                    height: 10px !important; 
                }
            }
    
        }
    }
    #twoColumn{
        max-width:100% !important;
    }
}