// Pergi color variables
$v-green              : #10AC84;
$v-green-light        : #2EB07D;
$v-green-dark         : #008350;

$v-purple             : #453596;
$v-purple-dark        : #362A75;
$v-purple-light       : #4F3B9F;

$v-blue               : #4298FC;
$v-blue-dark          : #336CD1;
$v-blue-light         : #6199FF;

$v-orange             : #F96D01;
$v-orange-light       : #FFF8D9;
$v-orange-dark        : #FFCC00;

$v-red                : #DE2F38;
$v-red-light          : #E4545C;
$v-red-dark           : #B6272E;

$v-yellow             : #FFF4B5;
$v-yellow-light       : #FFF6C2;
$v-yellow-dark        : #D1C895;

$v-black              : #424649;
$v-black-darker       : #373B3D;;
$v-white              : #FFFFFF;
$v-slate              : #8A8E91;
$v-smoke              : #DADEE1;
$v-snow               : #F9F9F9;

// Pergi platform UI color
$v-ui-background      : #FCFCFC;
$v-ui-border          : #DADEE1;
$v-ui-red             : #D13135;
$v-ui-red-dark        : #C31824;
$v-ui-chart-blue      : #2572B4;
$v-ui-chart-aqua      : #25B7A2;

// Pergi calendar color
$v-cal-blue			    : #AAE5F3;
$v-cal-blue-border		: #85B6C4;
$v-cal-green		    : #AAF3BE;
$v-cal-green-border		: #88C197;
$v-cal-yellow			: #E9F1A8;
$v-cal-yellow-border	: #B9C185;
$v-cal-orange			: #F1CBA7;
$v-cal-orange-border	: #C1A286;
$v-cal-red				: #F2A8A9;
$v-cal-red-border		: #C18482;
$v-cal-purple			: #AFA7F0;
$v-cal-purple-border	: #8B83BF;
$v-cal-lavender			: #DCA8F3;
$v-cal-lavender-border  : #AF84BC;
$v-cal-grey				: #EBEBEB;
$v-cal-grey-border		: #BBBBBB;

// Font
$v-proxima  : "Proxima Nova", Helvetica, Arial, sans-serif !default;
$v-avenir   : "Avenir Next", Helvetica, Arial, sans-serif !default;
$v-slick    : "Slick", Helvetica, Arial, sans-serif !default;
$core-theme	: compact;

// Breakpoints
$v-xxs  : 554px;
$v-xs   : 767px;
$v-sm   : 992px;
$v-md   : 1200px;
$v-lg   : 1400px;
$v-xl   : 1600px;
$v-xxl  : 2100px;
